# Artifacts del build y entorno
**/dist
**/node_modules
**/*.tsbuildinfo
coverage/

# Configuración de desarrollo
.vscode/

# Archivos varios
npm-debug.log
Dockerfile*
.dockerignore

# Archivos de git
.git
.gitignore

# Variables de entorno
.env

# Tests y herramientas de testeo
tests/
vitest.config.ts
tsconfig.vitest.json
.vitest/
coverage/
